body {

}

.chosen{
    position: fixed;
    visibility: hidden;
}

.col{
    background-color: yellow;
    width: 150px;
    height: 150px;
}

.myDiv{
    background-color: red;
    height: 300px;
    width:  300px;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
}


.myDiv1{
    background-color: red;
    height: 300px;
    width:  300px;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
}


.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.benefitTitle{
    background-color: #D0E2B0;;
    width: 40vw;
    height: 100vh;
    float: left;

}
.benefitTitle h1{
    font-size: 90px;
    text-align: center;
    margin-top: 300px;
}

.benefitTitle h2{
    text-align: center;
    font-size: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: DodgerBlue;
  }

  .flex-container > div {
    background-color: #D0E2B0;
    width: 100px;
    margin: 50px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .container {
      display: flex;
      height: 100vh;
      width: 60vw;
      background-color: #D0E2B0;
  }

  .flex-grid-thirds {
      
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }

  .myBox{
      height: 300px;
      width: 200px;
      background-color: #D0E2B0;
      margin: 50px;
      float: left;
  }

  .boxContainer {
    height: 400px;
    width: 100vw;
    background-color: #D0E2B0;
  }

  .iconB {
      width: 100px;
      height: 100px;
      margin: 0px auto;
  }

  .navbar-brand{
    font-family: 'Oswald', sans-serif;
      font-size: 30px;
  }

  .navlist{
    font-family: 'Roboto', sans-serif;
    margin-left: 60vw;
    }

    .purchaseNav{
        margin-left: 60px;
    }

    /* sections */

.section {

    border: 1px solid black;
  
    /* background-color: violet; */
    width: 100%;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .content-1 {
  
    display: flex;
    justify-content: space-evenly;
  
    width: 60%;
    height: 80%;
  }
  
  .content-1-text {
  
    text-align: center;
  
    margin-top: 10%;
  
    width: 50%;
  
  }
  
  .footer {
  
    background-image: url('../image2.png');
    opacity: 0.5;
    background-size: cover;
    background-position:  right; 
  
  }
  
  .footer-content {
  
    background-color: white;
  
    text-align: center;
    width: 60%;
    height: 50%;
  
    padding: 15px;
  
    opacity: .7;
  
    font-weight: bold;
    color: black;
  }
  
  
  /***************************************************
                        Position Nav Dots
  ****************************************************/
  
  .dots-container {
    position: -webkit-sticky;
    position: absolute;
    top: 80vh;
  }
  
  /***************************************************
                        HOVER EFFECTS
    ****************************************************/
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .hvr-icon-spin {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-spin .hvr-icon {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  .hvr-icon-spin:hover .hvr-icon,
  .hvr-icon-spin:focus .hvr-icon,
  .hvr-icon-spin:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .beneText{
      color: white;
      margin-top: 30px;
      font-size: 20px;
      text-align: center;
  }
  
